html,body{
  font-family: 'Oswald', Arial, serif;
  height:100vh;
  width:100vw;
  }

h1{
  font-family: 'Limelight', Arial;
    text-align:center
  }

h3{
  text-align:center
}

.intro {
  text-align: center;
  font-size: 35px;
  font-family: 'Limelight', Arial;
}

#test{
  text-align:center;
}

.labelmovie{
  font-size: 30px;
}

#home{
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

#summary-text{
  margin-left: 5%;
  margin-right: 5%;
  text-align:left;
}

.cn {
  display: table-cell;
  height: 100vh;
  width: 100vw;
  background: url('background.png');
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-attachment: fixed;
  vertical-align: middle;
  text-align: center;
}

#inner {
  height: 80%;
  width: 80%;
  display: inline-block;
  background: white;
  border:  5px solid black;
  overflow: auto;
}
